<%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
      <% if (photos.length > 0) { %>
        <div class="album">
        <% for (photo of photos) { %>
          <div class="card album-card shadow" style="width: 18rem;">
            <img src="<%= photo.photoUrl %>" class="card-img-top" alt="<%= photo.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= photo.title %></h5>
              <p class="card-text">Description</p>
            </div>
          </div>
        <% } %>
        </div>
      <% } else { %>
        <h2>No photos to view...</h2>
      <% } %>
    </main>

    <%- include('../includes/scripts.ejs') %>
  </body>
</html>
